---
# tasks file for apache-tls

- name: Check that variables are defined
  assert:
    that:
      - certs_dir is defined
      - geant_rsa_chain is defined
      - geant_ecc_chain is defined

- name: Install Apache
  package:
    name:
      - apache2
      - cronolog
    state: present

- name: create config for HTTP2 module if not present
  copy:
    force: no
    dest: /etc/apache2/mods-available/http2.conf
    content: |
      <IfModule !mpm_prefork>
          Protocols h2 h2c http/1.1
      </IfModule>

- name: Enable Apache modules
  apache2_module:
    name: "{{ item }}"
    state: present
  with_items:
    - headers
    - ssl
    - rewrite
    - http2
  notify:
    - "restart apache"

- name: Use cronolog for error log rotation
  lineinfile:
    path: "/etc/apache2/apache2.conf"
    regexp: 'ErrorLog \${APACHE_LOG_DIR}/error.log'
    line: 'ErrorLog "|/usr/bin/cronolog /var/log/apache2/%Y/%m/%d/error.log"'
    backrefs: yes
  notify:
    - "restart apache"

- name: Use cronolog for access log rotation
  lineinfile:
    path: "/etc/apache2/conf-enabled/other-vhosts-access-log.conf"
    regexp: 'CustomLog \${APACHE_LOG_DIR}/other_vhosts_access.log vhost_combined'
    line: 'CustomLog "|/usr/bin/cronolog /var/log/apache2/%Y/%m/%d/access.log" vhost_combined'
    backrefs: yes
  notify:
    - "restart apache"

- name: Set ServerTokens level to Production
  lineinfile:
    path: "/etc/apache2/conf-enabled/security.conf"
    regexp: 'ServerTokens OS'
    line: 'ServerTokens Prod'
    backrefs: yes
  notify:
    - "restart apache"

- name: Comment out default SSLCipherSuite
  lineinfile:
    path: "/etc/apache2/mods-enabled/ssl.conf"
    regexp: 'SSLCipherSuite HIGH:!aNULL'
    line: ' #SSLCipherSuite HIGH:!aNULL'
  notify:
    - "restart apache"

- name: Comment out default SSLProtocol
  lineinfile:
    path: "/etc/apache2/mods-enabled/ssl.conf"
    regexp: 'SSLProtocol all -SSLv3'
    line: ' #SSLProtocol all -SSLv3'
  notify:
    - "restart apache"

- name: Set up TLS correctly
  blockinfile:
    dest: "/etc/apache2/mods-enabled/ssl.conf"
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    insertbefore: '</IfModule>'
    block: |
      # see https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=apache-2.4.38&openssl=1.1.1b&hsts=yes&profile=modern
      SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1
      SSLCipherSuite          ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
      SSLHonorCipherOrder     on
      SSLCompression          off
      SSLSessionTickets       off

      # OCSP Stapling, only in httpd 2.3.3 and later
      SSLUseStapling          on
      SSLStaplingResponderTimeout 5
      SSLStaplingReturnResponderErrors off
      SSLStaplingCache        shmcb:/var/run/ocsp(128000)
  notify:
    - "restart apache"

- name: "Make {{ certs_dir }} directory"
  file:
    path: "{{ certs_dir }}"
    state: directory
    mode: 0755

- name: "create {{ geant_rsa_chain_file }}"
  copy:
    dest: "{{ geant_rsa_chain_file }}"
    content: "{{ geant_rsa_chain }}"
    owner: root
    group: root
    mode: 0644

- name: "create {{ geant_ecc_chain_file }}"
  copy:
    dest: "{{ geant_ecc_chain_file }}"
    content: "{{ geant_ecc_chain }}"
    owner: root
    group: root
    mode: 0644

- name: "flush handlers"
  meta: flush_handlers
